<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' type='text/css' href='../css/normalize.css' />
    <link rel='stylesheet' type='text/css' href='{{id}}-style.css' />
  </head>
  <body>
    {{{markup}}}
    <script src='{{id}}-script.js'></script>
  </body>
</html>
