<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Giraffe - Barc's Backbone Framework</title>

    <!-- Stylesheets -->
    <link rel='stylesheet' type='text/css' href='_assets/tutdown.css' />

    <!-- Scripts -->
    <!--[if lt IE 9]><script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
    <div class="row">
      {{{asset.text}}}
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="_assets/tutdown.js"></script>
</body>
</html>

