<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Giraffe - Barc's Backbone Framework</title>

    <!-- Stylesheets -->
    <link rel='stylesheet' type='text/css' href='css/style.css' />

    <!-- Scripts -->
    <!--[if lt IE 9]><script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
  <div id="page-wrapper">
    <div class="row">

      <!-- Sidebar -->
      <section id="sidebar" class="col sidebar">
        <h2><a href="index.html#">Backbone.Giraffe</a></h2>
        <ul>
          <li><a href="index.html#h-download">Download</a></li>
          <li><a href="https://github.com/barc/backbone.giraffe">Github</a></li>
        </ul>
        {{{navHeader}}}
        {{{asset.nav}}}
        <h3><a href='http://barc.com' class='barc'>@Barc</a></h3>
      </section>

      <!-- Main Body -->
      <article id="content" class="col content">
        <img id="logo" src="img/logo.png" />
        {{{asset.text}}}
      </article>
    </div>
  </div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <script src="_assets/tutdown.js"></script>
  <script>
  $(function() {
    $('.more-details').click(function() {
      $this = $(this);
      if ($this.hasClass('collapsed')) {
        $this.removeClass('collapsed');
        $this.addClass('uncollapsed');
      } else {
        $this.removeClass('uncollapsed');
        $this.addClass('collapsed');
      }
    });
  });
  </script>
</body>
</html>

