/' http://plantuml.sourceforge.net/skinparam.html '/
@startuml {{{filename}}}

hide footbox

skinparam sequence {
  ArrowColor #444444
  ArrowFontColor #CC5F00
  ArrowFontSize 13
  ArrowFontName Helvetica

  ActorBorderColor DeepSkyBlue

  LifeLineBorderColor #666666
  LifeLineBackgroundColor #666666

  ParticipantBorderColor #666666
  ParticipantBackgroundColor #EEEEEE
  ParticipantFontName Helvetica
  ParticipantFontSize 14
  ParticipantFontColor #333333

  ActorBackgroundColor #EEEEEE
  ActorFontColor #333333
  ActorFontSize 14
  ActorFontName Helvetica
}

{{{source}}}
@enduml
