@import './_tutdown/normalize';
@import './_tutdown/index';
@import './_giraffe/index';

* {
  .box-sizing(border-box);
}


//////////
// GRID //
//////////


@media only screen and (min-width: 34em) {
        .feature, .info { width: 50%; }
}

@media only screen and (min-width: 54em) {
        .content { width: 80.00%; }
        .sidebar { width: 20.00%; }
        .info    { width: 100%;   }
}

@media only screen and (min-width: 76em) {
        .content { width: 75.00%; } /* 7/12 */
        .sidebar { width: 25.00%; } /* 5/12 */
}

#page-wrapper {
  width: 1280px ;
  margin-left: auto ;
  margin-right: auto ;
}

/////////// GENERAL

p, a, td {
  color: #444;
}

h1, h2, h3, h4, h5 {
  color: #222;
}

.logo {
  font-family: "Helvetica Neue", "Helvetica", verdana, sans;
  color: #444;
  font-size: 32px;
  background-color: black;
  margin-left: 1em;
  border: double 3px #444;
  padding: 0.2em;
}


//
iframe.result {
  width: 100%;
  min-height: 200px;
  height: auto;
  border: dashed 1px @codeBorderColor;
}

code {
  font-family: @monospaceFontFamily;
}



ul {
  list-style: none;
  padding-left: 1em;
}


strong {
  font-weight: bold;
}

a {
  color: @linkColor;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.caption {
  margin-left: 14px;
  /* font-size: 12px; */
  color: @lightTextColor;
  font-family: @monospaceFontFamily;
  font-weight: normal;
  font-size: 14px;
}

#logo {
  width: 600px;
  height: 135px;
  margin-left: -@padding;
}

.nav-title {
  /* margin-top: 30px; */
  font-size: 15px;
}

