<script id="parent-app-template" type="text/template">
  <h2><%= name %></h2>
  <h3><%= cid %></h3>
  <button data-gf-click="render">Reset <%= name %></button>
</script>

<script id="child-template" type="text/template">
  <h3><% cid %></h3>

  <% if (showMoveUpButton) { %>
    <button data-gf-click="onMoveUp">&#9650;</button>
  <% } %>

  <% if (showMoveDownButton) { %>
    <button data-gf-click="onMoveDown">&#9660;</button>
  <% } %>

  <button data-gf-click="onAddChild">Add a child</button>
  <button data-gf-click="render">Render count: <%= renderCount%></button>
  <button data-gf-click="dispose">Dispose</button>

  <% if (parentIsChildView) { %>
    <label>
      <input type="checkbox" data-gf-change="onToggleCache" <%= checkedAttr %>>
      Cache this view
    </label>
    <button data-gf-click="onAttachUsingHTML">
      Reattach to parent using jQuery method 'html'
    </button>
  <% } %>

  <div class="child-views"></div>
</script>

<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
<script src="../backbone.giraffe.js" type="text/javascript"></script>