@blue: #4999de;
@darkBlue: #002a41;
@headerColor: @darkBlue;
@textColor: desaturate(lighten(@darkBlue, 2%), 35%);
@lightTextColor: desaturate(lighten(@darkBlue, 30%), 80%);
@linkColor: @textColor;
@linkHoverColor: darken(@textColor, 5%);
@linkActiveColor: darken(@textColor, 10%);
@backgroundColor: #fff;
@borderColor: #bbb;
@border: 1px solid @borderColor;
@borderRadius: 4px;
@fontSize: 14px;
@fontFamily: Verdana, Geneva, sans-serif;
@monospaceFontFamily: consolas, menlo, "ubuntu mono", monospace;
@navWidth: 260px;
@padding: 20px;

@codeBorderColor: #ECECF0;
@codeBackgroundColor: #FAFAFC;
